# -------------- Database Settings --------------

POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=

# -------------- Email Settings --------------

MAIL_SENDER_HOST=
MAIL_SENDER_PORT=
MAIL_SENDER_USERNAME=
MAIL_SENDER_PASSWORD=
MAIL_SENDER_PROTOCOL=
MAIL_SENDER_FROM_EMAIL=
MAIL_SENDER_FROM_NAME=

# -------------- App Settings --------------

APP_PORT=

# -------------- App Settings --------------

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# -------------- JWT Settings --------------

# This is the HMAC key that will be used to sign login tokens (JWTs).
# It just needs to be a random string, preferably at least 48 characters long to provide sufficient
# brute-force resistance.
#
# If you have OpenSSL installed, try `openssl rand -base64 48`
#
# According to the JWT specification, the key size for HS256 (HMAC with SHA-256) must be at least 256 bits (32 bytes)
# long and should contain only letters and numbers.
JWT_KEY=

# -------------- External API keys --------------


